.container {
    display: flex;
    margin: 50px auto;
    max-width: 1400px; /* Increased width */
}

.chart {
    flex: 2; 
    height: 420px; 
    margin-right: 20px;
}

.controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.controls .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* Spacing between button groups */
}

.controls button {
    padding: 10px;
    font-size: 14px;
    flex: 1;
    margin: 2px;
}
#lineChart .c3-line-data3 {
stroke-width: 5px;
}